*.pyc
*.pyo
*.db
*.pot
*.swp
*.swo
*.doctree
.doctrees
.DS_Store
.coverage
.idea/
local_settings.py
Mezzanine.egg-info/
build/
docs/build/
dist/
adcap_website/static/*
adcap_website/*.db
/mezzanine/.project
/mezzanine/.pydevproject
node_modules
