{% extends "pages/page.html" %}

{% load mezzanine_tags i18n keyword_tags %}

{% block main %}
{% if request.GET.sent %}
<section class="ptb ptb-sm-80">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>{{ page.title }}</h3>
    
        <p class="lead">
    {% with page.form as page_form %}
    {{ page.form.response|richtext_filters|safe }}
    {% endwith %}
        </p>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="ptb ptb-sm-80">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>{{ page.title }}</h3>
    
        <p class="lead">
    {% with page.form as page_form %}
    {{ page_form.content|richtext_filters|safe }}
    {% endwith %}
        </p>
      </div>
    </div>
    
    <div class="spacer-75"></div>
    
    <div class="row">
      <div class="col-md-5 contact">
        <div class="contact-box-left mb-45">
          <div class="contact-icon-left ion ion-ios-location" style=
          "font-style: italic"></div>
    
          <h6>Additional info</h6>
          <p>No NDAs, please.</p> 
          <a href=
          "mailto:pitches@adcap.biz"><i class=
          "fa fa-envelope-o left"></i>pitches@adcap.biz</a><br>
          <a><i class="fa fa-phone left"></i>+1 (718) 395-6385</a>
        </div>
    
        <div class="contact-box-left mb-45">
          <div class="contact-icon-left ion ion-ios-clock" style=
          "font-style: italic"></div>
    
          <h6>Business Hours</h6>
    
          <p><span>Mon - Fri: open 'til midnight</span></p>
        </div>
    
        <div class="contact-box-left mb-45">
          <h6>Follow Us</h6>
    
          <ul class="list-none social">
            <li>
              <a class="fa fa-twitter" href="https://www.twitter.com/adcapbiz" target="_blank"></a>
            </li>
    
            <li>
              <a class="fa fa-instagram" href="https://instagram.com/adcapbiz" target="_blank"></a>
            </li>
    
            <li>
              <a class="fa fa-facebook" href="https://www.facebook.com/adcapbiz" target="_blank"></a>
            </li>
    
            <li>
              <a class="fa fa-github" href="https://github.com/AdventureCapitalists" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>

    {% errors_for form %}
  <div class="col-md-6 col-md-offset-1">
    <form class="contact-form" method="post"
        {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
      <!-- IF MAIL SENT SUCCESSFULLY -->

      <h6 class="successContent"><i class="fa fa-check left" style=
      "color: #5cb45d;"></i>Your message has been sent successfully.</h6>
      <!-- END IF MAIL SENT SUCCESSFULLY -->
      <!-- MAIL SENDING UNSUCCESSFULL -->

      <h6 class="errorContent"><i class="fa fa-exclamation-circle left"
      style="color: #e1534f;"></i>There was a problem validating the form
      please check!</h6><!-- END MAIL SENDING UNSUCCESSFULL -->
      {% fields_for form %}

      <div class="form-actions">
        <input class="btn btn-md btn-black form-full" id="form-submit"
        name="submit" type="submit" value=
        "{% if page.form.button_text %}{{ page.form.button_text }}{% else %}{% trans "Submit" %}{% endif %}">
      </div>
    </form>
   </div>
  </div>
</div>
</section>
{% endif %}

{% endblock %}


{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.mezzanine-form :input:visible:enabled:first').focus();});
</script>
{% endblock %}
