{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static bootstrap_pagination %}

{% block extra_css %}
  <meta property="og:title" content="{{ self.seo_title }}" />
  <meta property="og:site_name" content="Adventure Capitalists" />
  <meta property="og:description" content="{{ self.search_description }}" />
  <meta property="og:image" content="http://adcap.biz/static/img/social/mvp_release-1200x1200.jpg" />

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog:latest_entries_feed' self.slug %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url 'blog:latest_entries_feed_atom' self.slug %}">
{% endblock %}

{% block intro %}
<section class="inner-intro bg-img overlay-light parallax parallax-background2"
  style="background-image: url('{% static 'img/full/hero-whiteboard-1920x1080.jpg' %}');">
  <div class="container">
    <div class="row title">
      {% if category %}
      <h2 class="h2">{{ category }}</h2>
      {% if category.description %}
      <div class="page-breadcrumb">
      {{ category.description }}
      </div>
      {% endif %}
      {% elif tag %}
      <h2 class="h2">{{ tag }}</h2>
      {% else %}
      <h2 class="h2">Blog</h2>
      <div class="page-breadcrumb">
      Trenchant Insight From a19s
      </div>
      {% endif %}
    </div>
  </div>
</section>
<div class="clearfix"></div>
{% endblock %}

{% block main %}
<section class="ptb ptb-sm-80">
  <div class="container">
    <div class="row">

      <!-- Blog Content Start -->
      <div class="col-lg-9 col-md-9">
        {% if category %}
        <div class="row">
          <h2 class="h2">Trenchant Insight On {{ category }}</h2>
        </div>
        {% elif tag %}
        <div class="row">
          <h2 class="h2">Posts tagged with "{{ tag }}"</h2>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-md-12 blog-post-hr">
            {% for blog in blogs %}
              {% include 'blog/blog_post.html' with include_context='index_page' %}
            {% endfor %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-right">
            {% bootstrap_paginate blogs %}
          </div>
        </div>
      </div>
      <!-- Blog Content End -->

      <div class="col-lg-3 col-md-3 mt-sm-60">
        {% include 'blog/sidebar.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock%}
