{% load wagtailcore_tags wagtailimages_tags %}

<div class="blog-post mb-30">
  {% if include_context == "index_page" %}
  <div class="post-media">
    <a href="{% pageurl blog %}">
      {% image blog.header_image fill-850x300-c90 %}
    </a>
  </div>
  {% endif %}

  <div class="post-header">
    <a href="{% pageurl blog %}">
      <h4>{{ blog.title }}</h4>
    </a>
  </div>

  <div class="post-meta">
    By
    <span><a href="{% url 'blog:author' blog.author %}">{{ blog.author.get_full_name|default:blog.author.username }}</a></span>
    {% if blog.categories.all %}
    filed under 
    {% for category in blog.categories.all %}
    <span><a href="{% url 'blog:category' category.category.slug %}">{{ category.category.name }}</a>{% if not forloop.last %}, {% endif %}</span>
    {% endfor %}
    {% endif %}
    {% if include_context == "index_page" %}
    {{ blog.date|timesince }} ago
    {% else %}
    {{ blog.date|date:"d M Y" }}
    {% endif %}
  </div>

  <hr style="margin-bottom: 5px" >
  <div class="post-entry">
    {% if include_context == "index_page" %}
    {{ blog.body|richtext|truncatewords_html:150 }}
    {% else %}
    {{ blog.body|richtext }}
    {% endif %}
  </div>
  <hr>

  <div class="blog-list-detail">
    {% if blog.tags.all %}
    <div class="post-tag pull-left">
      {% for tag in blog.tags.all %}
      <span><a class="tag" href="{% url 'blog:tag' tag %}">{{ tag }}</a></span>
      {% endfor %}
    </div>
    {% endif %}

    {% if include_context == "index_page" %}
    <div class="post-more-link pull-right">
      <a href="{% pageurl blog %}">Read more</a>
    </div>
    {% endif %}
  </div>
</div>
