{% extends "base.html" %}
{% load mezzanine_tags i18n static %}

{% block meta_keywords %}Adventure Capitalists, AdCap, punk, band, parody, hacker punk, punk rock, wfh, someone on the internet is wrong, mvp, record, release, music{% endblock %}

{% block meta_description %}{% if settings.SITE_TAGLINE %}{{settings.SITE_TAGLINE }}{% endif %}{% endblock %}

{% block page_title %}{% trans "Home" %}{% endblock %} 
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block extra_css %}
  <meta property="og:title" content="Loud Music for Startup People" />
  <meta property="og:site_name" content="Adventure Capitalists" />
  <meta property="og:description" content="Your startup game just got disrupted,
  snacky. A pair of programmers lampoon hypergrowth software financing with
  catchy punk rock tunes. Adventure Capitalists debut their new record MVP,
  available wherever quality Internet connection exists." />
  <meta property="og:image" content="http://adcap.biz/static/img/social/mvp_release-1200x1200.jpg" />
{% endblock %}

{% block intro %}
<!-- Intro Section -->
<section class="hero">
  <!-- Intro Scroll Down -->
  <div class="intro-scroll-down">
    <a class="scroll-down" href="#about">
      <span class="mouse">
        <span class="mouse-dot"></span>
      </span>
    </a>
  </div>
  <!-- End Intro Scroll Down -->

  <!-- Hero Slider Section -->
  <div class="flexslider fullscreen-carousel hero-slider-1 parallax parallax-section1">
    <ul class="slides">
      <li>
        <img src="{% static "img/full/hero-tea-1920x1080.jpg" %}" alt="Parallax Scrolling" draggable="false" />
        <div class="overlay-hero overlay-dark">
          <div class="container caption-hero light-color">
            <div class="inner-caption">
                  <h2 class="h2">Stage Agnostic Punk</h2>
                  <p class="lead">A bold, new attitude towards your favorite asset class</p>
                  <br />
                  <div><a class="btn btn-md btn-white-line" href="#about">Learn More</a><span
                          class="btn-space-10 xs-hidden"></span><a class="btn
                          btn-md btn-white xs-hidden" href="/music/">Listen Now</a></div>
                </div>
              </div>
           </div>
      </li>
      <li>
        <img src="{% static "img/full/hero-whiteboard-1920x1080.jpg" %}" alt="Trenchant Insight" draggable="false" />
          <div class="overlay-hero overlay-light">
            <div class="container caption-hero dark-color">
              <div class="inner-caption">
                <h2 class="h2">Trenchant Insight</h2>
                  <p class="lead">Sound counsel that will blow your mind</p>
                  <br />
                  <div><span class="btn-space-10 xs-hidden"></span><a
                          class="btn btn-md btn-black" href="/blog">Read the Blog</a></div>
              </div>
            </div>
          </div>
       </li>
      <li>
        <img src="{% static "img/full/hero-fistbump-1920x1080.jpg" %}" alt="Parallax Scrolling" draggable="false" />
        <div class="overlay-hero overlay-dark">
          <div class="container caption-hero light-color">
            <div class="inner-caption">
              <h2 class="h2">Parallax Scrolling</h2>
              <p class="lead">Seriously. We have it. Can we also have your email?</p>
              <p>(we double-promise not to spam you)</p>
              <br />
              <div class="col-sm-offset-4 col-sm-4 newsletter">
                <form id="index-carousel-email" class="subscribe-form">
                  <input id="index-carousel-email-input" type="email"
                  class="newsletter-input input-md newsletter-input mb-0 white" placeholder="Enter Your Email">
                  <label for="index-carousel-email-input"></label>
                  <button class="newsletter-btn btn btn-xs btn-white white" type="submit" value=""><i class="fa fa-angle-right mr-0"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
    <!-- End Hero Slider Section -->
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->
{% endblock %}

{% block main %}
<section id="about" class="wow fadeIn ptb ptb-sm-80">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="h4">About Us</h3>
      <div class="spacer-15"></div>
      <p class="lead">Dissatisfied with the returns from your current portfolio and
      punk rock bands?</p>
      <p><a class="tipped" data-title="That's right, snacky."
          data-tipper-options= '{"direction":"top"}'><b>Adventure
      Capitalists</b></a> is a bold, disruptive approach to your four chord,
      high risk equity positions. Is it a punk band shredding tasty licks about
      startup tech? Or is it an investment vehicle playing music from your older
      brother's six disc CD changer in his Chevy Cavalier?</p>
      <p><b>Our thesis transcends your labels.</b></p>
      <p>Besides, where else are you going to put your money right now?
      Gold?</p>
    </div>
  </div>
  <div class="row mt-80">
    <!-- Welcome Content -->
    <div class="col-md-7 mb-30">
      <h4>Our Founders Get 110%</h4>
      <div class="spacer-15"></div>
      <p>Can your investors write code? Can they even play guitar?</p>
      <p>Oh. They can. That's cool.</p>
      <p>Maybe you can still listen to us sometime.</p>
      <div class="spacer-15"></div><a class="btn-link-a" href="/music/">Listen Now</a>
    </div><!-- End Welcome Content -->
    <!-- Skills -->
    <div class="col-md-5">
      <div class="skillbar" data-percent="65%">
        <div class="skillbar-title">Punk</div>
        <div class="skill-bar-percent">65%</div>
        <div class="skillbar-bar"></div>
      </div>
      <div class="skillbar" data-percent="25%">
        <div class="skillbar-title">Hardcore</div>
        <div class="skill-bar-percent">25%</div>
        <div class="skillbar-bar"></div>
      </div>
      <div class="skillbar" data-percent="20%">
        <div class="skillbar-title">Startup Jokes</div>
        <div class="skill-bar-percent">20%</div>
        <div class="skillbar-bar"></div>
      </div>
      <div class="skillbar" data-percent="5%">
        <div class="skillbar-title">Actual Investment Knowledge</div>
        <div class="skill-bar-percent">5%</div>
        <div class="skillbar-bar"></div>
      </div>
    </div><!-- End Skills -->
  </div>
</div><!-- End About Section-->
</section>
<hr />

<section class="overlay-dark80 dark-bg ptb ptb-sm-80"
data-stellar-background-ratio="0.5" id="testimonial" style=
"background-image: url('{% static "img/full/hero-pointypair-1920x600.jpg" %}');">
  <div class="container">
    <div class="owl-carousel testimonial-carousel nf-carousel-theme white">
      <div class="item">
        <div class="testimonial text-center dark-color">
          <div class="container-icon fa fa-quote-right" style=
          "font-style: italic"></div>

          <p class="lead">" Every pizza can be a personal pizza if you try hard and believe in yourself. "</p>

          <h6 class="quote-author">James Dennis <span style=
          "font-weight: 400;">Managing Partner</span></h6>
        </div>
      </div>

      <div class="item">
        <div class="testimonial text-center dark-color">
          <div class="container-icon fa fa-quote-right" style=
          "font-style: italic"></div>

          a<p class="lead">" It would be great if you could stop calling this number. "</p>

          <h6 class="quote-author">Fred Wilson's assistant <span style=
          "font-weight: 400;">Union Square Ventures</span></h6>
        </div>
      </div>

      <div class="item">
        <div class="testimonial text-center dark-color">
          <div class="container-icon fa fa-quote-right" style=
          "font-style: italic"></div>

          <p class="lead">" Adventure who, again? Never heard of them. "</p>

          <h6 class="quote-author">Ron Conway <span style=
          "font-weight: 400;">SVAngel</span></h6>
        </div>
      </div>
      <div class="item">
        <div class="testimonial text-center dark-color">
          <div class="container-icon fa fa-quote-right" style=
          "font-style: italic"></div>

          <p class="lead">" I think our website might be better than our band. "</p>

          <h6 class="quote-author">Rob Spectre <span style=
          "font-weight: 400;">Partner</span></h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ptb ptb-sm-80" id="service">
  <div class="wow fadeInLeft container text-center">
    <h3>Our Commitment to Founders</h3>

    <div class="spacer-60"></div>

    <div class="row">
      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top ion ion-social-apple" style=
        "font-style: italic"></div>

        <h5>Be Like Apple</h5>

        <p>Every board meeting we ask you why something you're doing isn't more
        like Apple, regardless of context.</p>
      </div>

      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top ion ion-ios-gear" style=
        "font-style: italic"></div>

        <h5>New Shiny</h5>

        <p>We only take pitches from companies using programming languages less
        than two years old. How can you innovate if you're not patching your
        runtime three times every sprint?</p>
      </div>

      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top ion ion-ios-football" style=
        "font-style: italic"></div>

        <h5>Inappropriate Competition</h5>

        <p>We always invite our portfolio to weekend soccer friendlies, so we can
        take the match entirely too seriously and cleat our founders until they
        quit in disgust.</p>
      </div>

      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top ion ion-social-yahoo" style=
        "font-style: italic"></div>

        <h5>Due Diligence? Y?</h5>

        <p>We reply to every recently accelerated startup with an uncapped note,
        sight unseen. Please let us invest. Pretty please?</p>
      </div>

      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top ion ion-earth" style=
        "font-style: italic"></div>

        <h5>Global Network</h5>

        <p>By "global network" we mean "one of our partners went to China once in his
        gap year before business school."</p>
      </div>

      <div class="col-md-4 col-sm-6 mb-45">
        <div class="page-icon-top ion ion-social-apple-outline" style=
        "font-style: italic"></div>

        <h5>Be Like Apple</h5>

        <p>Seriously. Why aren't you more like Apple, already?</p>
      </div>
    </div>
  </div>
</section>

<section class="overlay-dark80 light-color ptb-80"
data-stellar-background-ratio="0.5" id="counter" style=
"background-image: url('{% static "img/full/hero-abg-1920x1080.jpg" %}');">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3 mb-sm-30">
        <h1 class="counter" data-count="2">0</h1>
        <h6>partners</h6>
      </div>

      <div class="col-md-3 mb-sm-30">
        <h1 class="counter" data-count="6">0</h1>
        <h6>Songs</h6>
      </div>

      <div class="col-md-3 mb-sm-30">
        <h1 class="counter" data-count="250">0</h1>
        <h6>Dollars Under Management</h6>
      </div>

      <div class="col-md-3 mb-sm-30">
        <h1 class="counter" data-count="18">0</h1>
        <h6>Startups Worked At</h6>
      </div>
    </div>
  </div>
</section><!-- End Counter Section -->


{% endblock %}
