{% extends 'base.html' %}

{% block extra_css %}
  <meta property="og:title" content="Loud Music for Startup People" />
  <meta property="og:site_name" content="Adventure Capitalists" />
  <meta property="og:description" content="Your startup game just got disrupted,
  snacky. A pair of programmers lampoon hypergrowth software financing with
  catchy punk rock tunes. Adventure Capitalists debut their new record MVP,
  available wherever quality Internet connection exists." />
  <meta property="og:image" content="http://adcap.biz/static/img/social/mvp_release-1200x1200.jpg" />
{% endblock %}

{% block intro %}{% endblock %}

{% block main %}
    {{ page.body }}
{% endblock %}
